{% extends 'admin/admin.html.twig' %}

{% block title "Créer un groupe d'employés" %}

{% block body %}
    <h1 class="text-3xl dark:text-gray-200 mb-3">Créer une nouveau groupe d'employés</h1>

    {{ form_start(formContent) }}
        {{ form_row(formContent.name, {
            label: "Nom du groupe d'employés",
        }) }}
        {{ form_row(formContent.film) }}
        {{ form_row(formContent.users) }}
    {{ form_end(formContent) }}

{% endblock %}
